In [19]:
import pandas as pd
from sqlalchemy import create_engine

In [20]:
df1=pd.read_csv('athlete_events.csv')
df2=pd.read_csv('noc_regions.csv')

In [21]:
connection_string='mysql+pymysql://root:Mysqlpass456@localhost:3306/olympics'

engine=create_engine(connection_string)

In [22]:
df1.to_sql('OLYMPICS_HISTORY',con=engine,if_exists='replace',index=False)
print('done')

done

In [23]:
df2.to_sql('OLYMPICS_HISTORY_NOC_REGIONS',con=engine,if_exists='replace',index=False)
print('done')

done

In [24]:
df1.shape

(271116, 15)

In [25]:
df2.shape

(230, 3)

In [26]:






# 7) Identify the sport which was played in all summer olympics.
# 8) Which Sports were just played only once in the olympics.
# 9) Fetch the total no of sports played in each olympic games.
# 10) Fetch oldest athletes to win a gold medal
# 11) Find the Ratio of male and female athletes participated in all olympic games.
# 12) Top 5 athletes who have won the most gold medals.
# 13) Top 5 athletes who have won the most medals (gold/silver/bronze).
# 14) Top 5 most successful countries in olympics. Success is defined by no of medals won.
# 15) List down total gold, silver and broze medals won by each country.
# 16) List down total gold, silver and broze medals won by each country corresponding to each
# olympic games.
# 17) Identify which country won the most gold, most silver and most bronze medals in each olympic
# games.
# 18) Identify which country won the most gold, most silver, most bronze medals and the most
# medals in each olympic games.
# 19) Which countries have never won gold medal but have won silver/bronze medals?
# 20) Break down all olympic games where india won medal for Hockey and how many medals in each
# olympic games

In [27]:
df1.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [28]:
df2.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

# 1) find The total Number of datas in the iolympics

In [30]:
df1.shape

(271116, 15)

# 2)  How many olympics games have been held?

In [68]:
len(df1['Year'].unique())

35

# 3) List down all Olympics games held so far.(distinct)

In [36]:
df1['Games'].unique()

array(['1992 Summer', '2012 Summer', '1920 Summer', '1900 Summer',
       '1988 Winter', '1992 Winter', '1994 Winter', '1932 Summer',
       '2002 Winter', '1952 Summer', '1980 Winter', '2000 Summer',
       '1996 Summer', '1912 Summer', '1924 Summer', '2014 Winter',
       '1948 Summer', '1998 Winter', '2006 Winter', '2008 Summer',
       '2016 Summer', '2004 Summer', '1960 Winter', '1964 Winter',
       '1984 Winter', '1984 Summer', '1968 Summer', '1972 Summer',
       '1988 Summer', '1936 Summer', '1952 Winter', '1956 Winter',
       '1956 Summer', '1960 Summer', '1928 Summer', '1976 Summer',
       '1980 Summer', '1964 Summer', '2010 Winter', '1968 Winter',
       '1906 Summer', '1972 Winter', '1976 Winter', '1924 Winter',
       '1904 Summer', '1928 Winter', '1908 Summer', '1948 Winter',
       '1932 Winter', '1936 Winter', '1896 Summer'], dtype=object)

# 4) Mention the total no of nations who participated in each olympics game?

In [45]:
len(df2['NOC'].unique())

230

# 5) Which year saw the highest and lowest no of countries participating in Olympicsm

In [58]:
print(df1.groupby('Year')['ID'].count().nlargest(1).index[0]),print(df1.groupby('Year')['ID'].count().nsmallest(1).index[0])

1992
1896

(None, None)

# 6) Which nation has participated in all of the olympic games

region
Germany           4
Yemen             3
Czech Republic    3
Serbia            3
Russia            3
                 ..
Ghana             1
Grenada           1
Guatemala         1
Guinea            1
Zambia            1
Name: count, Length: 206, dtype: int64