In [2]:
import pandas as pd
df1=pd.read_csv('athlete_events.csv')
df2=pd.read_csv('noc_regions.csv')

In [1]:
# USER_NAME , PASSWORD , PORT , DATAbane name 

from sqlalchemy import create_engine

In [3]:
connection_string = "mysql+pymysql://root:python123@localhost:3306/olympics"
engine = create_engine(connection_string)

In [4]:
df1.to_sql('OLYMPICS_HISTORY', con=engine, if_exists='append', index=False)

print(" sucessfully insert the data into the dtaabases ")

C:\Users\HP\AppData\Local\Temp\ipykernel_9644\1428016684.py:1: UserWarning: The provided table name 'OLYMPICS_HISTORY' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df1.to_sql('OLYMPICS_HISTORY', con=engine, if_exists='append', index=False)

 sucessfully insert the data into the dtaabases

In [5]:
df2.to_sql('OLYMPICS_HISTORY_NOC_REGIONS', con=engine, if_exists='append', index=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_9644\4178712590.py:1: UserWarning: The provided table name 'OLYMPICS_HISTORY_NOC_REGIONS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df2.to_sql('OLYMPICS_HISTORY_NOC_REGIONS', con=engine, if_exists='append', index=False)

230

In [6]:
df1.shape

(271116, 15)